.env
.env.local
.env.*.local
*.pem
*.key

# macos
.DS_Store
.AppleDouble
.LSOverride

# windows
Thumbs.db
desktop.ini
ehthumbs.db

# log e report
*.log
logs/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# dipendenze
node_modules/

# bundle e compilazione
dist/
build/
out/
public/build/

# test
coverage/
.nyc_output/

# vscode
.vscode/

# jetbrains
.idea/

# file temporanei
*.tmp
*.temp

# LaTeX
*.aux
*.log
*.out
*.toc
*.lof
*.lot
*.fls
*.fdb_latexmk
*.synctex.gz
*.synctex.gz(busy)
*.bbl
*.blg
*.bcf
*.run.xml
*.nav
*.snm
*.vrb
*.ist
*.glo
*.idx
*.ilg
*.ind
*.acn
*.acr
*.alg
*.glg
*.gls
*.xdy
*.tdo
*.lol
*.dvi
*.ps
*.bak
*.sav
*~
*.swp
*.thm
*.maf
*.mtc
*.mtc[0-9]*
*.listing
